@import url('https://fonts.googleapis.com/css?family=Molle:400i|Montserrat+Alternates|Roboto:300');

body {
  background-color: #772252;
  color: #ffffff;
  padding: 0px; margin: 0px;
  overflow-x: hidden;
}

.content {
  z-index: 2;
  padding: 75px 0px 0px 80px;
  width: 60%; max-width: 600px;
  overflow-x: hidden;
}

@media (max-width: 800px) {
    .content {
      padding: 20px;
      width: auto;
    }
}

h1 {
  font-size: 80px;
  font-family: 'Molle', cursive;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 25px;
  font-family: 'Montserrat Alternates', sans-serif; 
}

p {
  font-family: 'Roboto', sans-serif; 
  letter-spacing: 0.6px;
  font-size: 16px;
  margin: 25px 0px;
  line-height: 1.4;
}

a {
  color: #bbc8ed;
}

a:hover {
  color: #dee4f4;
}

img.insta, img.twitter {
  width: 20px;
  margin-right: 7px;
}

img.insta {
  filter: invert(100%);
}

.square {
  opacity: 0.61;
}
.square:first-child {
  background-color: blue;
  background-image: url(../img/me.jpg);
  background-size: cover;
  opacity: 1;
  z-index: -1 !important;
}