@import url('https://fonts.googleapis.com/css?family=Lora|Poppins');

body {
  background-color: #ffe135;
  color: #003314;
  padding: 0px; margin: 0px;
  overflow-x: hidden;
}

.content {
  z-index: 2;
  padding: 60px 0px 60px 80px;
  width: 60%; max-width: 600px;
  overflow: hidden;
}

@media (max-width: 800px) {
    .content {
      padding: 40px 40px 80px 40px;
      width: auto;
    }
}

h1 {
  font-family: 'Poppins', serif;
  font-size: 80px;
  margin-bottom: 8px;
  margin-top: 0px;
}

h2 {
  font-family: sans-serif;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 25px;
}

p {
  font-family: sans-serif;
  letter-spacing: 0.6px;
  font-size: 17px;
  margin: 25px 0px;
  line-height: 1.4;
}

.inline-header {
  font-family: 'Poppins', serif;
  font-size: 40px;
  line-height: 100%;
}

a {
  color: black;
}

a:hover {
  color: green;
}

#will-face {
  width: 30%;
  border-radius: 3%;
  border: 4px solid black;
}

img.insta, img.twitter {
  width: 20px;
  margin-right: 7px;
}

img.insta {
  filter: invert(100%);
}

.square {
  opacity: 0.7;
}
.square:first-child {
  background-color: blue;
  background-image: url(../img/me.jpg);
  background-size: cover;
  opacity: 1;
  z-index: -1 !important;
}
